# Mentorship Rewards Optimization

**Context**

The Rewards Program team is preparing for a major evaluation of how effectively the rewards are driving user engagement and satisfaction. They need insights to help optimize reward offerings, identify key segments, and understand the overall impact of the reward types on user behavior. Accurate data analysis is crucial for making data driven decisions on reward offerings and tailoring them to different user segments.

**Task 1. Data Cleaning**

**Context**:

As part of our reward efforts, it’s crucial to maintain accurate and clean data. Recently, we discovered challenges in our data, which impacted our ability to allocate points to graduates and learners.

Assignment:
You are provided with a sample dataset in the “Mentorship_Sessions” sheet that includes data related to mentorship sessions. This dataset has several duplicates and inconsistencies. Your task is to:

- Identify and address any missing, incorrect, or inconsistent data within the columns. Ensure that all data is cleaned and standardised for accurate analysis and reporting.
- Identify and remove any duplicate records.
- Explain your approach to data cleaning, including the tools you used.
- Provide a summary of the cleaned data, highlighting the number of duplicates removed and any other anomalies found.

Deliverables:
- A clean version of the dataset in Excel.
- A brief report (300-500 words) detailing your process, tools used, and findings.

In [1]:
# Import the required libraries
import pandas as pd
import numpy as np

In [55]:
# Load the data set
path = 'C:\\Users\\ADMIN\\MentorshipRewards_Analysis\\MentorshipRewards_analysis\\assets\\Mentorship_Sessions.xlsx'
df = pd.read_excel(path, sheet_name = 'Mentorship_Sessions')

# Explore the data set
print(df)
df.dtypes

     Unnamed: 0  Mentor_ID     Mentor_Name    Mentee_Name  Session_Number  \
0        2001.0     1003.0     Sarah Clark      Bob Brown             1.0
1        2002.0     1003.0     Emily Davis    Carol White             2.0
2        2003.0     1005.0    James Wilson     Jane Smith             2.0
3           4.0     1005.0  David Thompson            NaN             2.0
4        2001.0     1004.0     Emily Davis      Bob Brown             1.0
..          ...        ...             ...            ...             ...
104      2002.0     1003.0     Michael Lee    Carol White             2.0
105        54.0     1003.0     Michael Lee  Alice Johnson             2.0
106      2003.0     1005.0     Michael Lee     Jane Smith             1.0
107        46.0     1005.0     Michael Lee    Carol White             2.0
108        45.0     1004.0     Michael Lee     Jane Smith             1.0

     Session_Duration_Min Job_Info_Completed Session_Date  Points_Awarded
0                    40.0                Yes   2023-01-01             NaN
1                    30.0                Yes   2023-01-08             NaN
2                    40.0                Yes   2023-01-15             NaN
3                    50.0                Yes   2023-01-22             NaN
4                    30.0                 No   2023-01-29             NaN
..                    ...                ...          ...             ...
104                  20.0                 No   2024-08-04             NaN
105                  30.0                Yes   2024-01-07             NaN
106                  50.0                Yes   2024-05-05             NaN
107                  40.0                Yes   2023-11-12             NaN
108                  30.0                 No   2023-11-05             NaN

[109 rows x 9 columns]

Unnamed: 0              float64
Mentor_ID               float64
Mentor_Name              object
Mentee_Name              object
Session_Number          float64
Session_Duration_Min    float64
Job_Info_Completed       object
Session_Date             object
Points_Awarded          float64
dtype: object

# Task 1. Data Cleaning

In [40]:
###--- TASK 1: DATA CLEANING ---###
# 1. Rename Unnamed Columns
df.rename(columns={'Unnamed: 0': 'Mentee_ID'}, inplace=True)

# Verify changes
print(df.columns)

Index(['Mentee_ID', 'Mentor_ID', 'Mentor_Name', 'Mentee_Name',
       'Session_Number', 'Session_Duration_Min', 'Job_Info_Completed',
       'Session_Date', 'Points_Awarded'],
      dtype='object')

In [41]:
# 2. Handling Missing Values
# Check for missing values
MissingVals1 = df.isnull().sum()
print(MissingVals1)

Mentee_ID                 1
Mentor_ID                 1
Mentor_Name               0
Mentee_Name               2
Session_Number            1
Session_Duration_Min      2
Job_Info_Completed        1
Session_Date              1
Points_Awarded          109
dtype: int64

In [42]:
# Handle the missing values by dropping or filling in rows/columns
df.dropna(subset=['Mentee_ID','Mentor_ID', 'Mentee_Name', 'Job_Info_Completed', 'Session_Date'])

# Fill NaN values in Session Number and duration with mean
Session_Number_Mean = df['Session_Number'].mean()
Session_Duration_Mean = df['Session_Duration_Min'].mean()
df['Session_Number'] = df['Session_Number'].fillna(Session_Number_Mean)
df['Session_Duration_Min'] = df['Session_Duration_Min'].fillna(Session_Duration_Mean)
df['Points_Awarded'] = df['Points_Awarded'].fillna(0)  # Replace with starting value of 0

# Verify Changes
MissingVals2 = df.isnull().sum()
print(MissingVals2)

Mentee_ID               1
Mentor_ID               1
Mentor_Name             0
Mentee_Name             2
Session_Number          0
Session_Duration_Min    0
Job_Info_Completed      1
Session_Date            1
Points_Awarded          0
dtype: int64

In [43]:
# 3. Handling duplicates
duplicates = df.duplicated().sum()
print(f"Total duplicates: {duplicates}")

Total duplicates: 0

In [51]:
# 4. Correct the data types
df['Mentee_Name'] = df['Mentee_Name'].astype(str)
df['Mentor_Name'] = df['Mentor_Name'].astype(str)
df['Mentee_ID'] = df['Mentee_ID'].astype(str).apply(lambda x: str(x).split('.')[0])
df['Mentor_ID'] = df['Mentor_ID'].astype(str).apply(lambda x: str(x).split('.')[0])
df['Session_Date'] = pd.to_datetime(df['Session_Date'], format='%Y-%m-%d')
df['Session_Number'] = df['Session_Number'].astype(int)
df['Session_Duration_Min'] = df['Session_Duration_Min'].astype(int)
df['Points_Awarded'] = df['Points_Awarded'].astype(int)


# Verify Changes
print(df.dtypes)
print(df.head())

Mentee_ID                       object
Mentor_ID                       object
Mentor_Name                     object
Mentee_Name                     object
Session_Number                   int32
Session_Duration_Min             int32
Job_Info_Completed              object
Session_Date            datetime64[ns]
Points_Awarded                   int32
dtype: object
  Mentee_ID Mentor_ID     Mentor_Name  Mentee_Name  Session_Number  \
0      2001      1003     Sarah Clark    Bob Brown               1
1      2002      1003     Emily Davis  Carol White               2
2      2003      1005    James Wilson   Jane Smith               2
3         4      1005  David Thompson          nan               2
4      2001      1004     Emily Davis    Bob Brown               1

   Session_Duration_Min Job_Info_Completed Session_Date  Points_Awarded
0                    40                Yes   2023-01-01               0
1                    30                Yes   2023-01-08               0
2                    40                Yes   2023-01-15               0
3                    50                Yes   2023-01-22               0
4                    30                 No   2023-01-29               0

In [52]:
# 5. Standardize the Job_Info_Completed variable
df['Job_Info_Completed'] = df['Job_Info_Completed'].replace({'Yes': 'Yes', 'No': 'No'})

In [53]:
# Save the cleaned data set
df.to_excel('Mentorship_Session_Cleaned.xlsx', index=False)

**Task 2: Legacy Point Allocation**

**Context:**
Every week, you will be required to analyse, calculate, and manually award learners and graduates with points based on a set of point criteria.

Assignment:
Using your cleaned sample dataset for “Mentorship_Sessions”, allocate points according to the criteria listed below. 

Mentors earn points as follows:
- 250 points for signing up to become a mentor (one-time allocation).
- 1000 points for conducting mentorship with 2 different mentees.

The mentor receives 500 points per mentorship relationship, with the points being allocated as follows:
- 250 points per session.
- Must hold two sessions with the same mentee to earn the maximum of 500 points.
- Each session must be a minimum of 30 minutes in length.
- At least one session must include the completion of job information.
- The session must be with the same mentee.

Deliverables:
- Compile the main rules that needed to be applied for point allocation.
- Create the points allocation calculation to award the mentor points. Provide an explanation of the calculations that you applied to award the mentor points.
- A brief report (300-500 words) detailing the point allocation results and providing reasons for the results.
- Use the provided data and award the points to mentors.
- Provide a step-by-step outline of the process you would follow to complete the allocation, ensuring the points are awarded correctly on the system. This should include your approach to testing and verifying the accuracy of the allocations.

In [72]:
### ---TASK 2: Legacy Point Allocation--- ###

# Load the cleaned data set
path = 'C:\\Users\\ADMIN\\MentorshipRewards_Analysis\\MentorshipRewards_analysis\\MentorshipRewards_analysis\\assets\\Mentorship_Session_Cleaned.xlsx'
df = pd.read_excel(path)
df.head()

,Mentee_ID,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded
0,2001.0,1003.0,Sarah Clark,Bob Brown,1,40,Yes,2023-01-01,0
1,2002.0,1003.0,Emily Davis,Carol White,2,30,Yes,2023-01-08,0
2,2003.0,1005.0,James Wilson,Jane Smith,2,40,Yes,2023-01-15,0
3,4.0,1005.0,David Thompson,NaN,2,50,Yes,2023-01-22,0
4,2001.0,1004.0,Emily Davis,Bob Brown,1,30,No,2023-01-29,0

In [88]:
# Create new column-Mentor_Points and initialize to 0

df['Mentor_Points'] = 0

# Prompt: 
    # 250 points for signing up to become a mentor (one-time allocation).

mentors = df['Mentor_ID'].unique()
for mentor_id in mentors:
    df.loc[df['Mentor_ID'] == mentor_id, 'Mentor_Points'] += 250

# Prompt:
    # 1000 points for conducting mentorship with more than 2 mentees
    
# Group Mentees by Mentor_ID and count unique mentees
mentee_count = df.groupby('Mentor_ID')['Mentee_Name'].nunique()
for mentor_id, mentee_count in mentee_count.items():
    if mentee_count >= 2:
        df.loc[df['Mentor_ID'] == mentor_id, 'Mentor_Points'] += 1000

# Prompt:
    # The mentor receives 500 points per mentorship relationship, with the points being allocated as follows:
        # 250 points per session.
        # 500 points maximum for two sessions with the same mentee
        # Each session must be a minimum of 30 minutes in length.
        # At least one session must include the completion of job information.
        # The session must be with the same mentee.

# Filter sessions that are at least 30 minutes long
filtered_df = df[df['Session_Duration_Min'] >= 30]

# Group by Mentor_ID and Mentee_Name , then check for at least one session with job info completed
job_info_completed = filtered_df.groupby(['Mentor_ID', 'Mentee_Name'])['Job_Info_Completed'].apply(lambda x: 'Yes' in x.tolist())

# Find Mentors who have at least one session with Job_Info_Completed = 'Yes'
mentors_with_job_info_completed = job_info_completed[job_info_completed].reset_index()

# count sessions for each qualified mentor and mentee pair
session_counts = filtered_df.groupby(['Mentor_ID', 'Mentee_Name'])['Session_Number'].count()

# Find Mentors who have  at least 1 session and 2 or more sessions with the same mentee
mentors_with_atleast_one_session = session_counts[session_counts <=1].reset_index()

# Merge the dataframe for qualified mentors for points reward
qualified_mentors = pd.merge(mentors_with_job_info_completed, mentors_with_atleast_one_session, on=['Mentor_ID', 'Mentee_Name'])

# Print the qualified mentors
print(qualified_mentors)

# Awards points based on session counts with mentees, 500 points for qualified mentors
for index, row in qualified_mentors.iterrows():
    mentor_id = row['Mentor_ID']
    mentee_name = row['Mentee_Name']
    df.loc[(df['Mentor_ID'] == mentor_id) & (df['Mentee_Name'] == mentee_name), 'Mentor_Points'] += 500
df. head()

Empty DataFrame
Columns: [Mentor_ID, Mentee_Name, Job_Info_Completed, Session_Number]
Index: []

,Mentee_ID,Mentor_ID,Mentor_Name,Mentee_Name,Session_Number,Session_Duration_Min,Job_Info_Completed,Session_Date,Points_Awarded,Mentor_Points
0,2001.0,1003.0,Sarah Clark,Bob Brown,1,40,Yes,2023-01-01,0,1250
1,2002.0,1003.0,Emily Davis,Carol White,2,30,Yes,2023-01-08,0,1250
2,2003.0,1005.0,James Wilson,Jane Smith,2,40,Yes,2023-01-15,0,1250
3,4.0,1005.0,David Thompson,NaN,2,50,Yes,2023-01-22,0,1250
4,2001.0,1004.0,Emily Davis,Bob Brown,1,30,No,2023-01-29,0,1250

**Task 3:  Deriving Reward Dashboard and Insights**

**Context:**
The Rewards Program team is focused on enhancing user engagement and maximising the effectiveness of their reward offerings. To achieve this, they require a detailed analysis of user behaviour and reward redemption patterns based on the most recent data.

Assignment:
- Using the cleaned data from the previous tasks analyse and create a reward dashboard and provide insights that could be used to optimise the Rewards Program. Your analysis should help identify key user segments (e.g., new users, top performers, low engagement) and suggest how these insights could inform future reward offerings and engagement strategies.

Deliverables:
- A visual data insights report that includes at least three actionable recommendations based on your analysis (500-700 words).